<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Font Awesome 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
     Google Fonts 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />-->
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet" />
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Css-->
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <nav>
    <div class="logo">
        <p>LOGO</p>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/rules">Rules</a></li>
        <li><a href="/test">Test</a></li>
        <%if(!user){%>
        <li><button onclick="openForm()" class="loginButton">
        <span>Login</span></button></li>
        <%}else{%>
        <div class="navLogo">
        <li><img id="avatar" src="../public/images/avatar.png" alt="Avatar" onclick="openCard()"></li>
        </div>
        <%}%>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<script>
function navSlide() {
    const burger = document.querySelector(".burger");
    const nav = document.querySelector(".nav-links");
    const navLinks = document.querySelectorAll(".nav-links li");
    
    burger.addEventListener("click", () => {
        //Toggle Nav
        nav.classList.toggle("nav-active");
        
        //Animate Links
        navLinks.forEach((link, index) => {
            if (link.style.animation) {
                link.style.animation = ""
            } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.5}s`;
            }
        });
        //Burger Animation
        burger.classList.toggle("toggle");
    });
    
}

navSlide();
</script>


    <body>
    <%- body%>
        <!-- Giriş bölümü-->
        <div class="form-box" id="formBoxId">
            <button type="button" class="btn btn-danger" onclick="hiddenForm()" id="hiddenButton">x</button><br>
            <div class="button-box">
                <button type="button" class="btn btn-secondary" onclick="loginPage()">Login</button>
                <button type="button" class="btn btn-success" onclick="registerPage()">Register</button>
            </div>
            <!---------------Giriş Kısmı---------------->
            <form id="loginForm" class="login-group" action="/register/login" method="POST">
                <div class="form-group">
                    <div class="form">
                        <input type="mail" name="mail" autocomplete="off"  required />
                        <label for="name" class="label-name">
                            <span class="content-name">Email</span>
                        </label>
                    </div>
                </div>
                <!------Şifre textbox------->
                <div class="form-group">
                    <div class="form">
                        <input type="password" name="password" autocomplete="off"  required />
                        <label for="name" class="label-name">
                            <span class="content-name">Password</span>
                        </label>
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember Me!</label>
                </div>
                <div class="submitDiv">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <!---------------Kayıt Kısmı---------------->
            <form id="registerForm" class="register-group" action="/register" method="POST">
            
            <!------İsim textbox------->
                <div class="form-group">
                    <div class="form">
                        <input type="text" name="name" autocomplete="off"  required />
                        <label for="name" class="label-name">
                            <span class="content-name">Name</span>
                        </label>
                    </div>
                </div>
                <!------Şifre textbox------->
                <div class="form-group">
                    <div class="form">
                        <input type="password" name="password" autocomplete="off"  required />
                        <label for="name" class="label-name">
                            <span class="content-name">Password</span>
                        </label>
                    </div>
                </div>
                 <!------Şifre textbox-----
                <div class="form-group">
                    <div class="form">
                        <input type="text" name="password" autocomplete="off"  required />
                        <label for="name" class="label-name">
                            <span class="content-name">Password</span>
                        </label>
                    </div>
                </div>-->
                <!------Mail textbox------->
               <div class="form-group">
                    <div class="form">
                        <input type="mail" name="mail" autocomplete="off"  required />
                        <label for="name" class="label-name">
                            <span class="content-name">Email</span>
                        </label>
                    </div>
                </div>
                <div class="submitDiv">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!--Profil kartı-->
        
         
        <div class="userForm" id="userForm">
            <h2><label for="male">Elacays</label></h2>
            <h5><label for="male" style="color:green;">Online</label></h5>
            <img id="avatar" src="../public/images/avatar.png" alt="Avatar">
            <div class="profilButtons">
                <form id="logoutForm" action="/test" method="GET">
                <button type="submit" class="btn btn-warning">Test</button>
                </form>
                <form id="logoutForm" action="/test" method="GET">
                <button type="submit" class="btn btn-info">Options</button>
                </form>
                <form id="logoutForm" action="/login/logout" method="GET">
                <button type="submit" class="btn btn-danger">Quit</button>
                </form>
            </div>
        </div>

        <script>
            //login kısmını gösterip kayıt kısmını gizliyor
            function loginPage() {
                document.getElementById("registerForm").style.display = "none";
                document.getElementById("loginForm").style.display = "inline";

            }
            //kayıt kısmını gösterip giriş kısmını gizliyor
            function registerPage() {
                document.getElementById("loginForm").style.display = "none";
                document.getElementById("registerForm").style.display = "inline";
            }
            //giriş/kayıt kısmını açıyor ve giriş butonunu gizliyor
            function openForm() {
                document.getElementById("hiddenButton").style.display = "inline";
                document.getElementById("formBoxId").style.display = "block";

            }
            //giriş/kayıt kısmını gizliyip , giriş butonunu tekrar getiriyor
            function hiddenForm() {
                document.getElementById("hiddenButton").style.display = "none";
                document.getElementById("formBoxId").style.display = "none";

            }
            function openCard() {
                   
                if(document.getElementById("userForm").style.display == "inline"){
                    document.getElementById("userForm").style.display = "none"
                }else{
                    document.getElementById("userForm").style.display = "inline"; 
                }
            }

        </script>





        <!-- Bootstrap tooltips -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    </body>

</html>